<div class="container">
    <h2>Devices</h2>
    <table class="table">
        <tbody>
            {{#each data.devices}}
            <tr>
                <td>{{this.name}}</td>
                <td>

                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>