<!DOCTYPE html>
<html>
<head>
    <title>{{title}} - PinMyPi</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{> globalIncludes}}
    <link rel="stylesheet" href="{{ROOT_DIR}}/public/css/login.css">
</head>
<body class="text-center">
{{{body}}}
</body>
</html>