<div class="container">
    <h2>Hello, {{userData 'username'}}</h2>
    <hr>

    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{{ROOT_DIR}}/me">Change password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">API Keys</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <p>
                You can revoke and regenerate all your API keys on this page.
                To regenerate only a device's key, use the Device list.
            </p>
            <div class="container-fluid text-center">
                <a href="{{ROOT_DIR}}/me/keys/revokeall"
                   class="btn btn-danger">
                    <i class="fa fa-fw fa-trash"></i>
                    Revoke all keys
                </a>
            </div>
        </div>
    </div>
</div>