<div class="form-signin">
    <h1 class="display-1">
        <span class="fa-stack">
            <span class="fa fa-key fa-stack-1x"></span>
            <span class="fa fa-ban fa-stack-2x text-danger"></span>
        </span>
    </h1>
    <h1 class="display-5">
        Auth failed
    </h1>
    <h1 class="h4 mb-3 font-weight-normal">
        Your API request could not be processed, because the authentication failed.
    </h1>
    <p>
        Please check the provided API key and try again later.
    </p>
    
    <hr>

    <p class="text-muted">&copy; {{currentYear}}, rGunti</p>
</div>
